
.App {
  text-align: center;
}

/* Card.css */
.card {
  border: 1px solid #ccc;
  padding: 16px;
  margin: 16px;
  width: 250px;
  box-shadow: 5px 5px 5px 2px #ccc;
  text-align: center;
}

.card img {
  max-width: 100%;
  width: 400px;
  height: 264px;
}

.description {
  margin-top: 8px;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


h1 {
  font-size: 24px;
  margin: 20px 0;
}
